php_value short_open_tag 1
php_value upload_max_filesize 30M 

RewriteEngine On
RewriteCond $1 !^(index\.php|lib|install|latest|data|upload|robots\.txt|sitemap\.xml)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php/$1 [L]

RewriteCond $1 !^(index\.php|lib|data|upload|robots\.txt|sitemap\.xml)
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]
